    body{
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    }
    body h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    }
    h3{
        text-align: center;
    }
     
    nav{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	background: rgb(238,238,238); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border-radius: 10px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
	width: auto;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 20px black;
	-ms-box-shadow: 0px 0px 20px black;
	-o-box-shadow: 0px 0px 20px black;
	-webkit-box-shadow: 0px 0px 20px black;
	background-color: #D6D6D6;
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: justify;
	word-spacing: normal;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all;
    }
     
    nav ul{
	list-style: none;
	margin: 0 10px 0 10px;
	padding: 0;
	border-radius: 3px;
        position: relative;
        left: 50%;
    }
     
    nav ul li{
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    text-shadow: 0px 1px 0px #FFF;
    position: relative;
    right: 50%;
    }
    nav ul li:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to (#CCC));
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);
    background-image: -o-linear-gradient(top, #FFF, #CCC);
    background-image: -ms-linear-gradient(top, #FFF, #CCC);
    -webkit-box-shadow: 1px -1px 0px #999;
    -ms-box-shadow: 1px -1px 0px #999;
    -moz-box-shadow: 1px -1px 0px #999;
    -o-box-shadow: 1px -1px 0px #999;
    box-shadow: 1px -1px 0px #999;
    border: 1px solid #E3E3E3;
    }
     
    nav ul li:a{
    color: #999;
    display: block;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -ms-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
    }
     
    nav ul li:hover{
    color:#000;
    }
     
    body h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
     
    form{
	width: 230px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	padding-top: 4px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
        background: rgb(238,238,238); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 20px black;
	-ms-box-shadow: 0px 0px 20px black;
	-o-box-shadow: 0px 0px 20px black;
	-webkit-box-shadow: 0px 0px 20px black;
	background-color: #CCC;
    }
     
    img{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow:0px 0px 20px black;
    -moz-box-shadow:0px 0px 20px black;
    -ms-box-shadow:0px 0px 20px black;
    -o-box-shadow:0px 0px 20px black;
    -webkit-box-shadow:0px 0px 20px black;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid bisque;
    border-radius: 10px;
    width: 75%;
    height: 75%;
    display: block!important;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease-out;
    }
    .imagenes:hover{
    -moz-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    -o-transform: scale(2.0);
    -ms-transform: scale(2.0);
    transform: scale(2.0);
    }
     
    table{
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    }
